@model IEnumerable<ClassInfo>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Jiu Jitsu Log</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="JiuJitsuLog" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-square"></i> &nbsp; Create New Log Entry
            </a>
        </div>
    </div>
    <br />

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Date
                </th>
                <th>
                    Belt Color
                </th>
                <th>
                    Class Uniform (Gi or No Gi)
                </th>
                <th>
                    Class Focus
                </th>
                <th>
                    Mat Time
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td width="20%">
                        @obj.ClassLogDateTime
                    </td>
                    <td width="20%">
                        @obj.BeltColor
                    </td>
                    <td width="20%">
                        @obj.ClassUniformType
                    </td>
                    <td width="20%">
                        @obj.ClassFocus
                    </td>
                    <td width="20%">
                        @obj.MatTime
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

