@model IEnumerable<ClassInfo>
@{
    ViewData["Title"] = "Index";
}

<h1>My Jiu Jitsu log</h1>

<table class="d-lg-table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Belt Color
            </th>
            <th>
                Class Uniform (Gi or No Gi)
            </th>
            <th>
                Class Focus
            </th>
            <th>
                Mat Time
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td width="20%">
                    @obj.Name
                </td>
                <td width="20%">
                    @obj.BeltColor
                </td>
                <td width="20%">
                    @obj.ClassUniformType
                </td>
                <td width="20%">
                    @obj.ClassFocus
                </td>
                <td width="20%">
                    @obj.MatTime
                </td>
            </tr>
        }
    </tbody>
</table>

