@model IEnumerable<ClassInfo>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4 align-text-bottom">
        <div class="col-6">
            <h2 class="text-primary">Jiu Jitsu Log</h2>
        </div>
        <div class="col-6 text-end align-self-center">
            <a asp-controller="JiuJitsuLog" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-square"></i> &nbsp; Create New Log Entry
            </a>
        </div>
    </div>
    <br />

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th width="17%">
                    Date
                </th>
                <th width="8%">
                    Belt Color
                </th>
                <th width="20%">
                    Class Uniform (Gi or No Gi)
                </th>
                <th width="40%">
                    Class Focus
                </th>
                <th width="8%">
                    Mat Time
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr class="align-text-bottom">
                    <td>
                        @obj.ClassLogDateTime
                    </td>
                    <td>
                        @obj.BeltColor
                    </td>
                    <td>
                        @obj.ClassUniform
                    </td>
                    <td>
                        @obj.ClassFocus
                    </td>
                    <td>
                        @obj.MatTime
                    </td>
                    <td>
                        <div class="btn-group" role="group">
                            <a asp-controller="JiuJitsuLog" asp-action="Edit" asp-route-id="@obj.Id"
                           class="btn btn-primary mx-1" style="width:100px"> <i class="bi bi-pencil-square"></i> Edit</a>

                            <a asp-controller="JiuJitsuLog" asp-action="Delete" asp-route-id="@obj.Id"
                           class="btn btn-danger mx-1" style="width:100px"> <i class="bi bi-x-square"></i> Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

